.artwork:hover .injected {
  color: #FF3530;
  border-radius: 50%;
  border: 0.1em solid #FF3530;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.artwork {
  position: relative;
}

.artwork:hover img {
  opacity: 0.5;
}

.injected {
  display: none;
}
